{% extends "layout.njk" %}
{% block pageTitle %}Home{% endblock %}
{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <h1 class="govuk-heading-l">Welcome</h1>
    <p class="govuk-body">Try the <a class="govuk-link" href="/tasks">Tasks</a> demo.</p>
  </main>
</div>
{% endblock %}
