{# A minimal template to prove rendering works without any GOV.UK macros #}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Render OK</title>
  </head>
  <body>
    <h1>Render OK</h1>
    <pre>{{ tasks | dump }}</pre>
  </body>
</html>
